@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary-dark: #121920;
  --color-primary-light: #2c3e50;
  --color-gold-light: #c69963;
  --color-gold-dark: #b28451;
  --color-text-light: #eaecee;
  --color-text-dark: #040608;
  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  --heading-font: "Playfair Display", serif;
  --display-font: "Josefin Sans", sans-serif;
  --text-font: "Work Sans", sans-serif; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem); }
  50% {
    opacity: 1;
    transform: translateX(2rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes alternateText {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  30% {
    opacity: 1;
    transform: translateY(0);
    content: "Building sales. managing relationships."; }
  35% {
    opacity: 0;
    transform: translateY(-20px);
    content: ""; }
  60% {
    opacity: 1;
    transform: translateY(0);
    content: "Professional, capable and caring"; }
  65% {
    opacity: 0;
    transform: translateY(-20px);
    content: ""; }
  90% {
    opacity: 1;
    transform: translateY(0);
    content: "Representing HomeBuyers and Sellers for over 30 years"; }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    content: ""; } }

@keyframes alternateText2 {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  30% {
    opacity: 1;
    transform: translateY(0);
    content: "Building sales. managing relationships."; }
  35% {
    opacity: 0;
    transform: translateY(-20px);
    content: ""; }
  60% {
    opacity: 1;
    transform: translateY(0);
    content: "Professional, capable and caring"; }
  65% {
    opacity: 0;
    transform: translateY(-20px);
    content: ""; }
  90% {
    opacity: 1;
    transform: translateY(0);
    content: "30+ Years Serving HomeBuyers and Sellers"; }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    content: ""; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

/*
Typography System
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
body {
  font-family: var(--text-font); }

.heading-subheading-main {
  font-size: 3rem;
  font-weight: 300;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .heading-subheading-main {
      font-size: 2rem; } }
  .heading-subheading-main::after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    animation: alternateText 15s ease 0.1s infinite; }
    @media only screen and (max-width: 37.5em) {
      .heading-subheading-main::after {
        animation: alternateText2 15s ease 0.1s infinite; } }

.heading-subheading-sub {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 1px; }
  @media only screen and (max-width: 37.5em) {
    .heading-subheading-sub {
      font-size: 2rem; } }

.heading-primary {
  font-size: 9.6rem;
  font-family: var(--heading-font);
  font-weight: 400;
  letter-spacing: -0.9rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 7.4rem; } }

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: -0.5rem;
  font-family: var(--display-font); }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: var(--display-font); }

.heading-text {
  font-size: 2.4rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-text {
      font-size: 1.8rem; } }

.text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 400; }

.mb-xs {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2.4rem; }

.mb-md {
  margin-bottom: 4.8rem; }

.mb-md {
  margin-bottom: 8rem; }

.mb-lg {
  margin-bottom: 9.6rem; }

.hidden {
  display: none; }

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s; }
  .btn-outline:link, .btn-outline:visited {
    border: 1px solid var(--color-text-light);
    background: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-dark) 50%);
    background-size: 220%; }
  .btn-outline:hover {
    transform: translateY(-4px);
    background-position: 100%;
    border: 1px solid var(--color-primary-dark);
    box-shadow: var(--shadow-dark); }
  .btn-outline:active {
    transform: translateY(0);
    box-shadow: var(--shadow-light); }
  .btn-full:link, .btn-full:visited {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    color: --color-text-light; }
  .btn-full:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-dark); }
  .btn-full:active {
    transform: translateY(0);
    box-shadow: var(--shadow-light); }
  .btn:hover + .btn-full {
    background-color: transparent;
    border: 1px solid var(--color-text-light); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: brightness(50%); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.container {
  padding: 9.6rem; }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding: 9.6rem 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding: 9.6rem 2rem; } }

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .grid-2-cols {
      grid-template-columns: 1fr; } }

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .grid-3-cols {
      grid-template-columns: 1fr; } }

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .grid-4-cols {
      grid-template-columns: 1fr !important; } }

.header {
  height: 95vh;
  color: var(--color-text-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative; }
  .header__btn-box {
    display: flex;
    gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .header__btn-box {
        flex-direction: column;
        align-items: flex-start; } }
  @media only screen and (max-width: 37.5em) {
    .header .btn {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem; } }

.features {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light); }
  @media only screen and (max-width: 56.25em) {
    .features__grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .features__grid {
      row-gap: 4rem; } }
  .features__grid-item {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.5rem; }
  .features__content {
    padding: 0.5rem 0; }
  .features__icon {
    fill: var(--color-gold-light);
    height: 4rem;
    width: 4rem; }

.team .btn {
  color: var(--color-text-light); }

.team__grid-item {
  min-height: 50rem; }
  .team__grid-item-img {
    background-image: url(https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/ghtq7jtce7tsgdjtosrs/image-025);
    background-position: center;
    background-size: cover; }

.communities {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .communities {
      grid-template-columns: 1fr; } }
  .communities__grid-item {
    height: 35rem;
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .communities__grid-item-1 {
      color: var(--color-text-dark);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(120deg, #f7f7f7 0%, #f7f7f7 50%, #f5f2ed 50%); }
      .communities__grid-item-1 .heading-secondary {
        font-size: 6.2rem; }
        @media only screen and (max-width: 37.5em) {
          .communities__grid-item-1 .heading-secondary {
            font-size: 5.2rem; } }
    .communities__grid-item-2 {
      background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(https://images.pexels.com/photos/12579667/pexels-photo-12579667.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
      background-position: center;
      background-size: cover; }
      .communities__grid-item-2 .heading-secondary {
        font-weight: 200;
        font-size: 7.4rem; }
    .communities__grid-item-3 {
      background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(https://images.unsplash.com/photo-1499310226026-b9d598980b90?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-position: center;
      background-size: cover; }
      .communities__grid-item-3 .heading-secondary {
        font-weight: 200;
        font-size: 7.4rem; }
    .communities__grid-item-4 {
      background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/ynygmqus00yzx7rgmkje/dublin_tmp);
      background-position: center;
      background-size: cover; }
      .communities__grid-item-4 .heading-secondary {
        font-weight: 200;
        font-size: 7.4rem; }
  .communities .btn:link, .communities .btn:visited {
    border: 1px solid var(--color-text-light);
    background: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-text-light) 50%);
    background-size: 220%; }
  .communities .btn:hover {
    transform: translateY(-4px);
    background-position: 100%;
    border: 1px solid var(--color-text-light);
    box-shadow: var(--shadow-dark);
    color: var(--color-text-dark); }
  .communities .btn:active {
    transform: translateY(0);
    box-shadow: var(--shadow-light); }

@media only screen and (max-width: 37.5em) {
  .listings h2 {
    font-size: 3.2rem;
    letter-spacing: -2.9px; } }

.listings__address {
  font-size: 2.4rem;
  font-family: var(--display-font); }

.listings .text {
  width: 60%; }
  @media only screen and (max-width: 56.25em) {
    .listings .text {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .listings .text {
      width: 100%; } }

.listings .btn {
  color: var(--color-text-light); }

.listings .grid-text {
  width: 100%; }

@media only screen and (max-width: 56.25em) {
  .listings__grid-item-text {
    order: 2; } }

.listings__grid-item-img {
  min-height: 50rem;
  background-image: url("https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/ahkcyfaqpmeevenz6mwo/1");
  background-position: center;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .listings__grid-item-img {
      order: 1; } }

@media only screen and (max-width: 56.25em) {
  .listings__grid {
    grid-template-columns: 1fr; } }

.listings .grid-btn:link, .listings .grid-btn:visited {
  border-bottom: 1px solid var(--color-text-dark);
  color: var(--color-text-dark);
  padding: 1rem 3.2rem;
  transition: all 0.3s;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-dark) 50%);
  background-size: 220%; }
  @media only screen and (max-width: 56.25em) {
    .listings .grid-btn:link, .listings .grid-btn:visited {
      margin-bottom: 6.4rem; } }

.listings .grid-btn:hover {
  color: var(--color-text-light);
  background-position: 100%;
  transform: translateY(-4px);
  box-shadow: var(--shadow-dark); }

.listings .grid-btn:active {
  box-shadow: var(--shadow-light);
  transform: translateY(0); }

.listings__icon-box {
  display: flex;
  gap: 2rem; }

.listings__icon {
  fill: var(--color-text-dark);
  height: 4.4rem;
  width: 4.4rem; }

.listings__btn-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.listings__icon-play {
  fill: var(--color-text-dark);
  height: 3.2rem;
  width: 3.2rem; }

.listings__btn-box {
  padding: 1cqb;
  border: 2px solid var(--color-text-light);
  border-radius: 1000px; }

.listings .btn-play {
  padding: 0;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-text-light);
  cursor: pointer;
  transition: all 0.3s; }
  .listings .btn-play:hover {
    background-color: var(--color-text-dark); }
  .listings .btn-play:hover > * {
    fill: var(--color-text-light); }

.services .box {
  overflow: hidden; }

@media only screen and (max-width: 56.25em) {
  .services__grid {
    grid-template-columns: 1fr; } }

.services__grid-item {
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .services__grid-item-1 {
    min-height: 40rem;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/wdxqugeyugmrkajusuko/testimonials-1);
    background-position: center;
    background-size: cover;
    transition: all 0.2s; }
    .services__grid-item-1:hover {
      transform: scale(1.1); }
  .services__grid-item-2 {
    min-height: 40rem;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/gtbkdwxxsuw9dbswaomt/modern-marble-kitchen);
    background-position: center;
    background-size: cover;
    transition: all 0.2s; }
    .services__grid-item-2:hover {
      transform: scale(1.1); }

.services .btn:link, .services .btn:visited {
  border: 1px solid var(--color-text-light);
  background: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-text-light) 50%);
  background-size: 225%;
  padding: 1.5rem 4.4rem; }

.services .btn:hover {
  transform: translateY(-4px);
  background-position: 100%;
  border: 1px solid var(--color-text-light);
  box-shadow: var(--shadow-dark);
  color: var(--color-text-dark); }

.services .btn:active {
  transform: translateY(0);
  box-shadow: var(--shadow-light); }

.testimonials {
  color: var(--color-text-light);
  background-image: linear-gradient(to right, rgba(44, 62, 80, 0.9), rgba(44, 62, 80, 0.9)), url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/gtbkdwxxsuw9dbswaomt/modern-marble-kitchen);
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .testimonials__grid {
      grid-template-columns: 1fr; } }
  .testimonials__grid-item {
    display: flex;
    gap: 2rem;
    padding: 2rem; }
  .testimonials__img-box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .testimonials__img {
    height: 9.6rem;
    width: 9.6rem;
    border-radius: 1000px;
    object-fit: cover;
    object-position: center; }
  .testimonials .author {
    font-family: var(--display-font); }

.work {
  color: var(--color-text-light);
  min-height: 60rem;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/skkve0aqzhkkyiytn92d/work-with-us) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @supports (-webkit-touch-callout: none) {
    .work {
      background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/skkve0aqzhkkyiytn92d/work-with-us);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      min-height: 100vh; } }
  .work .text {
    width: 60%; }
    @media only screen and (max-width: 37.5em) {
      .work .text {
        width: 90%; } }
  .work .btn:link, .work .btn:visited {
    border: 1px solid var(--color-text-light);
    background: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-text-light) 50%);
    background-size: 225%;
    padding: 1.5rem 4.4rem; }
  .work .btn:hover {
    transform: translateY(-4px);
    background-position: 100%;
    border: 1px solid var(--color-text-light);
    box-shadow: var(--shadow-dark);
    color: var(--color-text-dark); }
  .work .btn:active {
    transform: translateY(0);
    box-shadow: var(--shadow-light); }
  .work .heading-secondary {
    font-family: var(--heading-font); }

.footer__grid {
  column-gap: 8rem; }
  .footer__grid-item-1 {
    grid-column: 1 / -1; }
  .footer__grid-item-2 {
    grid-column: 1 / -1; }
  .footer__grid-item-3 {
    grid-column: 1 / -1; }
  .footer__grid-item-4 {
    grid-column: 1 / -1; }

.footer__icon-box {
  display: flex;
  gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__icon-box {
      margin-bottom: 4.4rem; } }

.footer__icon {
  height: 4.4rem;
  width: 4.4rem; }

.footer .heading-secondary {
  font-family: var(--heading-font); }

.footer .title {
  font-weight: 700;
  font-family: var(--display-font); }

.footer .link {
  display: block;
  color: inherit; }

@media only screen and (max-width: 37.5em) {
  .footer .subscribe {
    margin-bottom: 3.2rem; } }

.footer__form-group input {
  display: block;
  width: 90%;
  border: none;
  border-bottom: 3px solid var(--color-text-dark);
  outline: none;
  padding: 2rem 2rem 2rem 0;
  font-size: 1.6rem;
  margin-bottom: 1rem; }
  .footer__form-group input:focus {
    border-bottom: 3px solid green; }
  .footer__form-group input:focus:invalid {
    border-bottom: 3px solid orangered; }

.footer__form-group label {
  font-size: 1.6rem; }

.footer__form input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translatey(-5rem); }

.footer .btn-submit {
  border: none;
  background: none;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .footer .btn-submit {
      margin-bottom: 4.4rem; } }
  .footer .btn-submit:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-dark); }
  .footer .btn-submit:active {
    transform: translateY(0);
    box-shadow: var(--shadow-light); }
