:root {
  --heading-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;

  //COLORS
  --color-bg-dark: #101d2c;
  --color-gold-light: #c69963;
  --color-gold-dark: #b28451;
  --color-black: #000;
  --color-white: #fff;

  //TEXT-COLORS
  --color-text-light: #eee;
  --color-text-dark: #333;
  --color-text-grey: #aaa;
}
