.header {
  height: 95vh;

  color: var(--color-text-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &__btn-box {
    display: flex;
    gap: 2rem;
  }
}
