.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;

  &-outline {
    &:link,
    &:visited {
      border: 1px solid var(--color-text-light);
      background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        var(--color-primary-dark) 50%
      );
      background-size: 220%;
    }

    &:hover {
      transform: translateY(-4px);
      background-position: 100%;
      border: 1px solid var(--color-primary-dark);
      box-shadow: var(--shadow-dark);
    }

    &:active {
      transform: translateY(0);
      box-shadow: var(--shadow-light);
    }
  }

  &-full {
    &:link,
    &:visited {
      background-color: var(--color-primary-dark);
      border: 1px solid var(--color-primary-dark);
      color: (--color-text-light);
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: var(--shadow-dark);
    }

    &:active {
      transform: translateY(0);
      box-shadow: var(--shadow-light);
    }
  }

  &:hover + &-full {
    background-color: transparent;
    border: 1px solid var(--color-text-light);
  }
}
