.pagination {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__btn {
    border: none;
    background: none;
    padding: 1rem;
    border: 1px solid var(--color-black);
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: var(--color-black);
    }
  }

  &__btn:hover > * {
    fill: var(--color-text-light);
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}
