body {
  font-family: var(--body-font);
}

.heading-subheading {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;

  &--animated::after {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    animation: alternateText 15s ease 0.1s infinite;
  }
}

.heading-primary {
  font-size: 6.4rem;
  font-family: var(--heading-font);
  font-weight: 400;

  &--animated {
    animation: backwards moveInBottom 1s ease;
  }
}

.heading-secondary {
  font-size: 3.2rem;
  font-family: var(--heading-font);
  font-weight: 400;
}
.heading-tertiary {
  font-size: 2.4rem;
  font-family: var(--heading-font);
  font-weight: 400;
}
