.team-page {
  background-image: linear-gradient(
    120deg,
    rgba(245, 242, 237, 1) 0%,
    rgba(245, 242, 237, 1) 50%,
    #f7f7f7 50%
  );
  @include respond(tab-land) {
    padding: 9.6rem 2rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    @include respond(tab-port) {
      width: 80%;
    }
    @include respond(phone) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(90%);
    }
  }

  &__icon-box {
    display: flex;
    gap: 2rem;

    &-1 {
      @media only screen and(max-width:73.13em) {
        display: none;
      }
    }

    &-2 {
      display: none;

      @media only screen and(max-width:73.13em) {
        display: inline-block;
      }
    }
  }

  &__icon {
    height: 4.5rem;
    width: 4.5rem;
  }
}
